In [1]:
import pandas as pd

# シリーズとデータフレーム

In [2]:
ser = pd.Series([10, 20, 30, 40])

In [3]:
ser

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
df = pd.DataFrame([[10, "a", True], [20, "b", False,], [30, "c", False], [40, "d", True]])
df

    0  1      2
0  10  a   True
1  20  b  False
2  30  c  False
3  40  d   True

## NumPyで行列作成

In [5]:
import numpy as np

In [6]:
np.arange(100).reshape(25, 4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31],
       [32, 33, 34, 35],
       [36, 37, 38, 39],
       [40, 41, 42, 43],
       [44, 45, 46, 47],
       [48, 49, 50, 51],
       [52, 53, 54, 55],
       [56, 57, 58, 59],
       [60, 61, 62, 63],
       [64, 65, 66, 67],
       [68, 69, 70, 71],
       [72, 73, 74, 75],
       [76, 77, 78, 79],
       [80, 81, 82, 83],
       [84, 85, 86, 87],
       [88, 89, 90, 91],
       [92, 93, 94, 95],
       [96, 97, 98, 99]])

# データフレームの作成

In [7]:
df = pd.DataFrame(np.arange(100).reshape(25, 4), columns=list("abcd"))
df

     a   b   c   d
0    0   1   2   3
1    4   5   6   7
2    8   9  10  11
3   12  13  14  15
4   16  17  18  19
5   20  21  22  23
6   24  25  26  27
7   28  29  30  31
8   32  33  34  35
9   36  37  38  39
10  40  41  42  43
11  44  45  46  47
12  48  49  50  51
13  52  53  54  55
14  56  57  58  59
15  60  61  62  63
16  64  65  66  67
17  68  69  70  71
18  72  73  74  75
19  76  77  78  79
20  80  81  82  83
21  84  85  86  87
22  88  89  90  91
23  92  93  94  95
24  96  97  98  99

# 概要を見る

In [8]:
df.head()

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [9]:
df.tail()

     a   b   c   d
20  80  81  82  83
21  84  85  86  87
22  88  89  90  91
23  92  93  94  95
24  96  97  98  99

In [10]:
df.shape

(25, 4)

In [11]:
df[3:6]

    a   b   c   d
3  12  13  14  15
4  16  17  18  19
5  20  21  22  23

# ランダムな値

In [12]:
np.random.rand(25, 4)

array([[ 0.42601442,  0.74990442,  0.23050715,  0.95155528],
       [ 0.18399895,  0.45132665,  0.34800531,  0.32458317],
       [ 0.54637361,  0.83528163,  0.95995751,  0.01618112],
       [ 0.82130078,  0.47349179,  0.32247362,  0.28946202],
       [ 0.55956931,  0.03283914,  0.27387397,  0.73194956],
       [ 0.08990983,  0.32005204,  0.27775868,  0.17556051],
       [ 0.08118968,  0.33958233,  0.29221923,  0.71797402],
       [ 0.44576081,  0.72324694,  0.89789349,  0.52964171],
       [ 0.75299849,  0.06503896,  0.85928983,  0.56415465],
       [ 0.28122946,  0.44481145,  0.15177062,  0.99068943],
       [ 0.62360041,  0.28824709,  0.7460179 ,  0.89389832],
       [ 0.24623291,  0.54302706,  0.03302032,  0.62573153],
       [ 0.47622515,  0.89224445,  0.02973358,  0.53819036],
       [ 0.02910704,  0.57312075,  0.92877768,  0.68448848],
       [ 0.71502132,  0.63056748,  0.39136888,  0.19462864],
       [ 0.99189625,  0.42866562,  0.73101138,  0.80635757],
       [ 0.01865738,  0.53042685,  0.85402284,  0.18678121],
       [ 0.99195358,  0.03127021,  0.37127735,  0.37496286],
       [ 0.55732168,  0.41171513,  0.56280302,  0.8623235 ],
       [ 0.49202354,  0.55184859,  0.74826095,  0.20486508],
       [ 0.22993937,  0.31777405,  0.75371797,  0.53735904],
       [ 0.22954457,  0.02104079,  0.41183529,  0.22821077],
       [ 0.62471358,  0.17037228,  0.83928684,  0.11387372],
       [ 0.79124684,  0.95994846,  0.83488498,  0.55961008],
       [ 0.16894996,  0.05812682,  0.82139289,  0.82289346]])

In [13]:
df = pd.DataFrame(np.random.rand(25, 4), columns=list("abcd"))
df

           a         b         c         d
0   0.481770  0.464399  0.659742  0.471086
1   0.773709  0.123521  0.302031  0.031535
2   0.137299  0.700930  0.118053  0.372651
3   0.989664  0.793749  0.523969  0.931203
4   0.101988  0.788815  0.168662  0.743402
5   0.892046  0.478634  0.594136  0.098679
6   0.932203  0.051710  0.281600  0.427496
7   0.747929  0.043822  0.812299  0.146934
8   0.939535  0.429229  0.878094  0.368635
9   0.678734  0.824927  0.787973  0.308102
10  0.630759  0.766256  0.558172  0.784477
11  0.930781  0.494301  0.677082  0.459571
12  0.270177  0.358015  0.903847  0.499793
13  0.910630  0.891133  0.968610  0.807042
14  0.511547  0.111924  0.003854  0.308216
15  0.029876  0.082322  0.089550  0.255234
16  0.814314  0.341811  0.604388  0.940754
17  0.044677  0.298287  0.051694  0.894657
18  0.711926  0.548324  0.784537  0.461523
19  0.785441  0.787694  0.297859  0.369659
20  0.158389  0.105760  0.952108  0.322215
21  0.930020  0.852966  0.105425  0.398942
22  0.659880  0.850319  0.272239  0.279986
23  0.596057  0.318248  0.453491  0.414427
24  0.235251  0.146208  0.587935  0.985939

# 集計

In [14]:
df.max()

a    0.989664
b    0.891133
c    0.968610
d    0.985939
dtype: float64

In [15]:
df.min()

a    0.029876
b    0.043822
c    0.003854
d    0.031535
dtype: float64

In [16]:
df.describe()

               a          b          c          d
count  25.000000  25.000000  25.000000  25.000000
mean    0.595784   0.466132   0.497494   0.483286
std     0.321907   0.297587   0.308787   0.273516
min     0.029876   0.043822   0.003854   0.031535
25%     0.270177   0.146208   0.272239   0.308216
50%     0.678734   0.464399   0.558172   0.414427
75%     0.892046   0.787694   0.784537   0.743402
max     0.989664   0.891133   0.968610   0.985939

# インデックスとカラム

In [17]:
df["a"]

0     0.481770
1     0.773709
2     0.137299
3     0.989664
4     0.101988
5     0.892046
6     0.932203
7     0.747929
8     0.939535
9     0.678734
10    0.630759
11    0.930781
12    0.270177
13    0.910630
14    0.511547
15    0.029876
16    0.814314
17    0.044677
18    0.711926
19    0.785441
20    0.158389
21    0.930020
22    0.659880
23    0.596057
24    0.235251
Name: a, dtype: float64

In [18]:
df[["a", "c"]]

           a         c
0   0.481770  0.659742
1   0.773709  0.302031
2   0.137299  0.118053
3   0.989664  0.523969
4   0.101988  0.168662
5   0.892046  0.594136
6   0.932203  0.281600
7   0.747929  0.812299
8   0.939535  0.878094
9   0.678734  0.787973
10  0.630759  0.558172
11  0.930781  0.677082
12  0.270177  0.903847
13  0.910630  0.968610
14  0.511547  0.003854
15  0.029876  0.089550
16  0.814314  0.604388
17  0.044677  0.051694
18  0.711926  0.784537
19  0.785441  0.297859
20  0.158389  0.952108
21  0.930020  0.105425
22  0.659880  0.272239
23  0.596057  0.453491
24  0.235251  0.587935

In [19]:
df[:3]

          a         b         c         d
0  0.481770  0.464399  0.659742  0.471086
1  0.773709  0.123521  0.302031  0.031535
2  0.137299  0.700930  0.118053  0.372651

In [20]:
df.loc[2]

a    0.137299
b    0.700930
c    0.118053
d    0.372651
Name: 2, dtype: float64

In [21]:
df.iloc[2]

a    0.137299
b    0.700930
c    0.118053
d    0.372651
Name: 2, dtype: float64

In [22]:
df.loc[2, :]

a    0.137299
b    0.700930
c    0.118053
d    0.372651
Name: 2, dtype: float64

In [23]:
df.loc[:, "b"]

0     0.464399
1     0.123521
2     0.700930
3     0.793749
4     0.788815
5     0.478634
6     0.051710
7     0.043822
8     0.429229
9     0.824927
10    0.766256
11    0.494301
12    0.358015
13    0.891133
14    0.111924
15    0.082322
16    0.341811
17    0.298287
18    0.548324
19    0.787694
20    0.105760
21    0.852966
22    0.850319
23    0.318248
24    0.146208
Name: b, dtype: float64

In [24]:
df.loc[:5, ["a", "c"]]

          a         c
0  0.481770  0.659742
1  0.773709  0.302031
2  0.137299  0.118053
3  0.989664  0.523969
4  0.101988  0.168662
5  0.892046  0.594136

In [25]:
df.iloc[:5, [0, 2]]

          a         c
0  0.481770  0.659742
1  0.773709  0.302031
2  0.137299  0.118053
3  0.989664  0.523969
4  0.101988  0.168662

# 条件による抽出

In [26]:
df > 0.5

        a      b      c      d
0   False  False   True  False
1    True  False  False  False
2   False   True  False  False
3    True   True   True   True
4   False   True  False   True
5    True  False   True  False
6    True  False  False  False
7    True  False   True  False
8    True  False   True  False
9    True   True   True  False
10   True   True   True   True
11   True  False   True  False
12  False  False   True  False
13   True   True   True   True
14   True  False  False  False
15  False  False  False  False
16   True  False   True   True
17  False  False  False   True
18   True   True   True  False
19   True   True  False  False
20  False  False   True  False
21   True   True  False  False
22   True   True  False  False
23   True  False  False  False
24  False  False   True   True

In [27]:
df["a"] > 0.5

0     False
1      True
2     False
3      True
4     False
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12    False
13     True
14     True
15    False
16     True
17    False
18     True
19     True
20    False
21     True
22     True
23     True
24    False
Name: a, dtype: bool

In [28]:
df[df["a"] > 0.5]

           a         b         c         d
1   0.773709  0.123521  0.302031  0.031535
3   0.989664  0.793749  0.523969  0.931203
5   0.892046  0.478634  0.594136  0.098679
6   0.932203  0.051710  0.281600  0.427496
7   0.747929  0.043822  0.812299  0.146934
8   0.939535  0.429229  0.878094  0.368635
9   0.678734  0.824927  0.787973  0.308102
10  0.630759  0.766256  0.558172  0.784477
11  0.930781  0.494301  0.677082  0.459571
13  0.910630  0.891133  0.968610  0.807042
14  0.511547  0.111924  0.003854  0.308216
16  0.814314  0.341811  0.604388  0.940754
18  0.711926  0.548324  0.784537  0.461523
19  0.785441  0.787694  0.297859  0.369659
21  0.930020  0.852966  0.105425  0.398942
22  0.659880  0.850319  0.272239  0.279986
23  0.596057  0.318248  0.453491  0.414427

In [29]:
len(df[df["a"] > 0.5])

17

# 加工
## 全体を10倍する

In [30]:
df * 10

           a         b         c         d
0   4.817695  4.643987  6.597416  4.710860
1   7.737094  1.235209  3.020305  0.315354
2   1.372990  7.009303  1.180533  3.726510
3   9.896638  7.937495  5.239686  9.312032
4   1.019880  7.888151  1.686623  7.434017
5   8.920458  4.786342  5.941364  0.986792
6   9.322029  0.517099  2.815997  4.274957
7   7.479293  0.438220  8.122993  1.469337
8   9.395349  4.292292  8.780941  3.686350
9   6.787337  8.249273  7.879726  3.081024
10  6.307588  7.662555  5.581718  7.844768
11  9.307813  4.943010  6.770819  4.595711
12  2.701771  3.580148  9.038468  4.997928
13  9.106297  8.911331  9.686100  8.070421
14  5.115468  1.119239  0.038535  3.082163
15  0.298761  0.823222  0.895504  2.552338
16  8.143137  3.418112  6.043880  9.407545
17  0.446770  2.982870  0.516939  8.946570
18  7.119261  5.483236  7.845373  4.615229
19  7.854412  7.876939  2.978592  3.696593
20  1.583889  1.057598  9.521082  3.222148
21  9.300204  8.529660  1.054254  3.989417
22  6.598799  8.503189  2.722386  2.799860
23  5.960574  3.182479  4.534908  4.144274
24  2.352514  1.462077  5.879350  9.859393

## 平均値を新たなカラムに入れる

In [31]:
df.mean(axis=1)

0     0.519249
1     0.307699
2     0.332233
3     0.809646
4     0.450717
5     0.515874
6     0.423252
7     0.437746
8     0.653873
9     0.649934
10    0.684916
11    0.640434
12    0.507958
13    0.894354
14    0.233885
15    0.114246
16    0.675317
17    0.322329
18    0.626578
19    0.560163
20    0.384618
21    0.571838
22    0.515606
23    0.445556
24    0.488833
dtype: float64

In [32]:
df['mean'] = df.mean(axis=1)

In [33]:
df.head()

          a         b         c         d      mean
0  0.481770  0.464399  0.659742  0.471086  0.519249
1  0.773709  0.123521  0.302031  0.031535  0.307699
2  0.137299  0.700930  0.118053  0.372651  0.332233
3  0.989664  0.793749  0.523969  0.931203  0.809646
4  0.101988  0.788815  0.168662  0.743402  0.450717

## 最大値を新たなカラムに入れる

In [34]:
df.max(axis=1)

0     0.659742
1     0.773709
2     0.700930
3     0.989664
4     0.788815
5     0.892046
6     0.932203
7     0.812299
8     0.939535
9     0.824927
10    0.784477
11    0.930781
12    0.903847
13    0.968610
14    0.511547
15    0.255234
16    0.940754
17    0.894657
18    0.784537
19    0.787694
20    0.952108
21    0.930020
22    0.850319
23    0.596057
24    0.985939
dtype: float64

In [35]:
df["max"] = df.max(axis=1)

In [36]:
df.head()

          a         b         c         d      mean       max
0  0.481770  0.464399  0.659742  0.471086  0.519249  0.659742
1  0.773709  0.123521  0.302031  0.031535  0.307699  0.773709
2  0.137299  0.700930  0.118053  0.372651  0.332233  0.700930
3  0.989664  0.793749  0.523969  0.931203  0.809646  0.989664
4  0.101988  0.788815  0.168662  0.743402  0.450717  0.788815

## 転置変換

In [37]:
df

           a         b         c         d      mean       max
0   0.481770  0.464399  0.659742  0.471086  0.519249  0.659742
1   0.773709  0.123521  0.302031  0.031535  0.307699  0.773709
2   0.137299  0.700930  0.118053  0.372651  0.332233  0.700930
3   0.989664  0.793749  0.523969  0.931203  0.809646  0.989664
4   0.101988  0.788815  0.168662  0.743402  0.450717  0.788815
5   0.892046  0.478634  0.594136  0.098679  0.515874  0.892046
6   0.932203  0.051710  0.281600  0.427496  0.423252  0.932203
7   0.747929  0.043822  0.812299  0.146934  0.437746  0.812299
8   0.939535  0.429229  0.878094  0.368635  0.653873  0.939535
9   0.678734  0.824927  0.787973  0.308102  0.649934  0.824927
10  0.630759  0.766256  0.558172  0.784477  0.684916  0.784477
11  0.930781  0.494301  0.677082  0.459571  0.640434  0.930781
12  0.270177  0.358015  0.903847  0.499793  0.507958  0.903847
13  0.910630  0.891133  0.968610  0.807042  0.894354  0.968610
14  0.511547  0.111924  0.003854  0.308216  0.233885  0.511547
15  0.029876  0.082322  0.089550  0.255234  0.114246  0.255234
16  0.814314  0.341811  0.604388  0.940754  0.675317  0.940754
17  0.044677  0.298287  0.051694  0.894657  0.322329  0.894657
18  0.711926  0.548324  0.784537  0.461523  0.626578  0.784537
19  0.785441  0.787694  0.297859  0.369659  0.560163  0.787694
20  0.158389  0.105760  0.952108  0.322215  0.384618  0.952108
21  0.930020  0.852966  0.105425  0.398942  0.571838  0.930020
22  0.659880  0.850319  0.272239  0.279986  0.515606  0.850319
23  0.596057  0.318248  0.453491  0.414427  0.445556  0.596057
24  0.235251  0.146208  0.587935  0.985939  0.488833  0.985939

In [38]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
a,0.481770,0.773709,0.137299,0.989664,0.101988,0.892046,0.932203,0.747929,0.939535,0.678734,...,0.029876,0.814314,0.044677,0.711926,0.785441,0.158389,0.930020,0.659880,0.596057,0.235251
b,0.464399,0.123521,0.700930,0.793749,0.788815,0.478634,0.051710,0.043822,0.429229,0.824927,...,0.082322,0.341811,0.298287,0.548324,0.787694,0.105760,0.852966,0.850319,0.318248,0.146208
c,0.659742,0.302031,0.118053,0.523969,0.168662,0.594136,0.281600,0.812299,0.878094,0.787973,...,0.089550,0.604388,0.051694,0.784537,0.297859,0.952108,0.105425,0.272239,0.453491,0.587935
d,0.471086,0.031535,0.372651,0.931203,0.743402,0.098679,0.427496,0.146934,0.368635,0.308102,...,0.255234,0.940754,0.894657,0.461523,0.369659,0.322215,0.398942,0.279986,0.414427,0.985939
mean,0.519249,0.307699,0.332233,0.809646,0.450717,0.515874,0.423252,0.437746,0.653873,0.649934,...,0.114246,0.675317,0.322329,0.626578,0.560163,0.384618,0.571838,0.515606,0.445556,0.488833
max,0.659742,0.773709,0.700930,0.989664,0.788815,0.892046,0.932203,0.812299,0.939535,0.824927,...,0.255234,0.940754,0.894657,0.784537,0.787694,0.952108,0.930020,0.850319,0.596057,0.985939

In [39]:
df

           a         b         c         d      mean       max
0   0.481770  0.464399  0.659742  0.471086  0.519249  0.659742
1   0.773709  0.123521  0.302031  0.031535  0.307699  0.773709
2   0.137299  0.700930  0.118053  0.372651  0.332233  0.700930
3   0.989664  0.793749  0.523969  0.931203  0.809646  0.989664
4   0.101988  0.788815  0.168662  0.743402  0.450717  0.788815
5   0.892046  0.478634  0.594136  0.098679  0.515874  0.892046
6   0.932203  0.051710  0.281600  0.427496  0.423252  0.932203
7   0.747929  0.043822  0.812299  0.146934  0.437746  0.812299
8   0.939535  0.429229  0.878094  0.368635  0.653873  0.939535
9   0.678734  0.824927  0.787973  0.308102  0.649934  0.824927
10  0.630759  0.766256  0.558172  0.784477  0.684916  0.784477
11  0.930781  0.494301  0.677082  0.459571  0.640434  0.930781
12  0.270177  0.358015  0.903847  0.499793  0.507958  0.903847
13  0.910630  0.891133  0.968610  0.807042  0.894354  0.968610
14  0.511547  0.111924  0.003854  0.308216  0.233885  0.511547
15  0.029876  0.082322  0.089550  0.255234  0.114246  0.255234
16  0.814314  0.341811  0.604388  0.940754  0.675317  0.940754
17  0.044677  0.298287  0.051694  0.894657  0.322329  0.894657
18  0.711926  0.548324  0.784537  0.461523  0.626578  0.784537
19  0.785441  0.787694  0.297859  0.369659  0.560163  0.787694
20  0.158389  0.105760  0.952108  0.322215  0.384618  0.952108
21  0.930020  0.852966  0.105425  0.398942  0.571838  0.930020
22  0.659880  0.850319  0.272239  0.279986  0.515606  0.850319
23  0.596057  0.318248  0.453491  0.414427  0.445556  0.596057
24  0.235251  0.146208  0.587935  0.985939  0.488833  0.985939

## 2つのDFを繋げる

In [40]:
np.random.rand(5, 4)

array([[ 0.21270544,  0.43455023,  0.41326282,  0.81602661],
       [ 0.62845177,  0.99803178,  0.75339431,  0.17072266],
       [ 0.58496348,  0.19940207,  0.1756949 ,  0.31536072],
       [ 0.71229706,  0.6339812 ,  0.52459616,  0.22023969],
       [ 0.18617503,  0.498336  ,  0.1207152 ,  0.29922513]])

In [41]:
df2 = pd.DataFrame(np.random.rand(5, 4), columns=list('abcd'))

In [42]:
df2

          a         b         c         d
0  0.544368  0.420013  0.205671  0.412394
1  0.866053  0.773115  0.482285  0.834728
2  0.045713  0.687208  0.584206  0.978306
3  0.081609  0.002971  0.405488  0.040150
4  0.002447  0.289082  0.269507  0.920703

In [43]:
df_new = pd.concat([df, df2])

In [44]:
df_new

           a         b         c         d       max      mean
0   0.481770  0.464399  0.659742  0.471086  0.659742  0.519249
1   0.773709  0.123521  0.302031  0.031535  0.773709  0.307699
2   0.137299  0.700930  0.118053  0.372651  0.700930  0.332233
3   0.989664  0.793749  0.523969  0.931203  0.989664  0.809646
4   0.101988  0.788815  0.168662  0.743402  0.788815  0.450717
5   0.892046  0.478634  0.594136  0.098679  0.892046  0.515874
6   0.932203  0.051710  0.281600  0.427496  0.932203  0.423252
7   0.747929  0.043822  0.812299  0.146934  0.812299  0.437746
8   0.939535  0.429229  0.878094  0.368635  0.939535  0.653873
9   0.678734  0.824927  0.787973  0.308102  0.824927  0.649934
10  0.630759  0.766256  0.558172  0.784477  0.784477  0.684916
11  0.930781  0.494301  0.677082  0.459571  0.930781  0.640434
12  0.270177  0.358015  0.903847  0.499793  0.903847  0.507958
13  0.910630  0.891133  0.968610  0.807042  0.968610  0.894354
14  0.511547  0.111924  0.003854  0.308216  0.511547  0.233885
15  0.029876  0.082322  0.089550  0.255234  0.255234  0.114246
16  0.814314  0.341811  0.604388  0.940754  0.940754  0.675317
17  0.044677  0.298287  0.051694  0.894657  0.894657  0.322329
18  0.711926  0.548324  0.784537  0.461523  0.784537  0.626578
19  0.785441  0.787694  0.297859  0.369659  0.787694  0.560163
20  0.158389  0.105760  0.952108  0.322215  0.952108  0.384618
21  0.930020  0.852966  0.105425  0.398942  0.930020  0.571838
22  0.659880  0.850319  0.272239  0.279986  0.850319  0.515606
23  0.596057  0.318248  0.453491  0.414427  0.596057  0.445556
24  0.235251  0.146208  0.587935  0.985939  0.985939  0.488833
0   0.544368  0.420013  0.205671  0.412394       NaN       NaN
1   0.866053  0.773115  0.482285  0.834728       NaN       NaN
2   0.045713  0.687208  0.584206  0.978306       NaN       NaN
3   0.081609  0.002971  0.405488  0.040150       NaN       NaN
4   0.002447  0.289082  0.269507  0.920703       NaN       NaN

## インデックスの振り直し

In [45]:
df_new = pd.concat([df, df2], ignore_index=True)

In [46]:
df_new

           a         b         c         d       max      mean
0   0.481770  0.464399  0.659742  0.471086  0.659742  0.519249
1   0.773709  0.123521  0.302031  0.031535  0.773709  0.307699
2   0.137299  0.700930  0.118053  0.372651  0.700930  0.332233
3   0.989664  0.793749  0.523969  0.931203  0.989664  0.809646
4   0.101988  0.788815  0.168662  0.743402  0.788815  0.450717
5   0.892046  0.478634  0.594136  0.098679  0.892046  0.515874
6   0.932203  0.051710  0.281600  0.427496  0.932203  0.423252
7   0.747929  0.043822  0.812299  0.146934  0.812299  0.437746
8   0.939535  0.429229  0.878094  0.368635  0.939535  0.653873
9   0.678734  0.824927  0.787973  0.308102  0.824927  0.649934
10  0.630759  0.766256  0.558172  0.784477  0.784477  0.684916
11  0.930781  0.494301  0.677082  0.459571  0.930781  0.640434
12  0.270177  0.358015  0.903847  0.499793  0.903847  0.507958
13  0.910630  0.891133  0.968610  0.807042  0.968610  0.894354
14  0.511547  0.111924  0.003854  0.308216  0.511547  0.233885
15  0.029876  0.082322  0.089550  0.255234  0.255234  0.114246
16  0.814314  0.341811  0.604388  0.940754  0.940754  0.675317
17  0.044677  0.298287  0.051694  0.894657  0.894657  0.322329
18  0.711926  0.548324  0.784537  0.461523  0.784537  0.626578
19  0.785441  0.787694  0.297859  0.369659  0.787694  0.560163
20  0.158389  0.105760  0.952108  0.322215  0.952108  0.384618
21  0.930020  0.852966  0.105425  0.398942  0.930020  0.571838
22  0.659880  0.850319  0.272239  0.279986  0.850319  0.515606
23  0.596057  0.318248  0.453491  0.414427  0.596057  0.445556
24  0.235251  0.146208  0.587935  0.985939  0.985939  0.488833
25  0.544368  0.420013  0.205671  0.412394       NaN       NaN
26  0.866053  0.773115  0.482285  0.834728       NaN       NaN
27  0.045713  0.687208  0.584206  0.978306       NaN       NaN
28  0.081609  0.002971  0.405488  0.040150       NaN       NaN
29  0.002447  0.289082  0.269507  0.920703       NaN       NaN

In [47]:
df_new.shape

(30, 6)

# 並べ替え
## 平均値(mean列)の数値が小さい順に並べ替える

In [48]:
df.shape

(25, 6)

In [49]:
df.sort_values(by="mean")

           a         b         c         d      mean       max
15  0.029876  0.082322  0.089550  0.255234  0.114246  0.255234
14  0.511547  0.111924  0.003854  0.308216  0.233885  0.511547
1   0.773709  0.123521  0.302031  0.031535  0.307699  0.773709
17  0.044677  0.298287  0.051694  0.894657  0.322329  0.894657
2   0.137299  0.700930  0.118053  0.372651  0.332233  0.700930
20  0.158389  0.105760  0.952108  0.322215  0.384618  0.952108
6   0.932203  0.051710  0.281600  0.427496  0.423252  0.932203
7   0.747929  0.043822  0.812299  0.146934  0.437746  0.812299
23  0.596057  0.318248  0.453491  0.414427  0.445556  0.596057
4   0.101988  0.788815  0.168662  0.743402  0.450717  0.788815
24  0.235251  0.146208  0.587935  0.985939  0.488833  0.985939
12  0.270177  0.358015  0.903847  0.499793  0.507958  0.903847
22  0.659880  0.850319  0.272239  0.279986  0.515606  0.850319
5   0.892046  0.478634  0.594136  0.098679  0.515874  0.892046
0   0.481770  0.464399  0.659742  0.471086  0.519249  0.659742
19  0.785441  0.787694  0.297859  0.369659  0.560163  0.787694
21  0.930020  0.852966  0.105425  0.398942  0.571838  0.930020
18  0.711926  0.548324  0.784537  0.461523  0.626578  0.784537
11  0.930781  0.494301  0.677082  0.459571  0.640434  0.930781
9   0.678734  0.824927  0.787973  0.308102  0.649934  0.824927
8   0.939535  0.429229  0.878094  0.368635  0.653873  0.939535
16  0.814314  0.341811  0.604388  0.940754  0.675317  0.940754
10  0.630759  0.766256  0.558172  0.784477  0.684916  0.784477
3   0.989664  0.793749  0.523969  0.931203  0.809646  0.989664
13  0.910630  0.891133  0.968610  0.807042  0.894354  0.968610

## 最大値(max列)の数値が大きい順で並べ替える

In [50]:
df.sort_values(by="max", ascending=False)

           a         b         c         d      mean       max
3   0.989664  0.793749  0.523969  0.931203  0.809646  0.989664
24  0.235251  0.146208  0.587935  0.985939  0.488833  0.985939
13  0.910630  0.891133  0.968610  0.807042  0.894354  0.968610
20  0.158389  0.105760  0.952108  0.322215  0.384618  0.952108
16  0.814314  0.341811  0.604388  0.940754  0.675317  0.940754
8   0.939535  0.429229  0.878094  0.368635  0.653873  0.939535
6   0.932203  0.051710  0.281600  0.427496  0.423252  0.932203
11  0.930781  0.494301  0.677082  0.459571  0.640434  0.930781
21  0.930020  0.852966  0.105425  0.398942  0.571838  0.930020
12  0.270177  0.358015  0.903847  0.499793  0.507958  0.903847
17  0.044677  0.298287  0.051694  0.894657  0.322329  0.894657
5   0.892046  0.478634  0.594136  0.098679  0.515874  0.892046
22  0.659880  0.850319  0.272239  0.279986  0.515606  0.850319
9   0.678734  0.824927  0.787973  0.308102  0.649934  0.824927
7   0.747929  0.043822  0.812299  0.146934  0.437746  0.812299
4   0.101988  0.788815  0.168662  0.743402  0.450717  0.788815
19  0.785441  0.787694  0.297859  0.369659  0.560163  0.787694
18  0.711926  0.548324  0.784537  0.461523  0.626578  0.784537
10  0.630759  0.766256  0.558172  0.784477  0.684916  0.784477
1   0.773709  0.123521  0.302031  0.031535  0.307699  0.773709
2   0.137299  0.700930  0.118053  0.372651  0.332233  0.700930
0   0.481770  0.464399  0.659742  0.471086  0.519249  0.659742
23  0.596057  0.318248  0.453491  0.414427  0.445556  0.596057
14  0.511547  0.111924  0.003854  0.308216  0.233885  0.511547
15  0.029876  0.082322  0.089550  0.255234  0.114246  0.255234

## a列が0.5以上に絞り込んで、a列の大きい順に並べ替える

In [51]:
df[df["a"] > 0.5].sort_values(by="a", ascending=False)

           a         b         c         d      mean       max
3   0.989664  0.793749  0.523969  0.931203  0.809646  0.989664
8   0.939535  0.429229  0.878094  0.368635  0.653873  0.939535
6   0.932203  0.051710  0.281600  0.427496  0.423252  0.932203
11  0.930781  0.494301  0.677082  0.459571  0.640434  0.930781
21  0.930020  0.852966  0.105425  0.398942  0.571838  0.930020
13  0.910630  0.891133  0.968610  0.807042  0.894354  0.968610
5   0.892046  0.478634  0.594136  0.098679  0.515874  0.892046
16  0.814314  0.341811  0.604388  0.940754  0.675317  0.940754
19  0.785441  0.787694  0.297859  0.369659  0.560163  0.787694
1   0.773709  0.123521  0.302031  0.031535  0.307699  0.773709
7   0.747929  0.043822  0.812299  0.146934  0.437746  0.812299
18  0.711926  0.548324  0.784537  0.461523  0.626578  0.784537
9   0.678734  0.824927  0.787973  0.308102  0.649934  0.824927
22  0.659880  0.850319  0.272239  0.279986  0.515606  0.850319
10  0.630759  0.766256  0.558172  0.784477  0.684916  0.784477
23  0.596057  0.318248  0.453491  0.414427  0.445556  0.596057
14  0.511547  0.111924  0.003854  0.308216  0.233885  0.511547

# a列が0.5以下に絞り込んで、b列の大きい順に並び替える

In [52]:
df[df["a"] > 0.5].sort_values(by="b", ascending=False)

           a         b         c         d      mean       max
13  0.910630  0.891133  0.968610  0.807042  0.894354  0.968610
21  0.930020  0.852966  0.105425  0.398942  0.571838  0.930020
22  0.659880  0.850319  0.272239  0.279986  0.515606  0.850319
9   0.678734  0.824927  0.787973  0.308102  0.649934  0.824927
3   0.989664  0.793749  0.523969  0.931203  0.809646  0.989664
19  0.785441  0.787694  0.297859  0.369659  0.560163  0.787694
10  0.630759  0.766256  0.558172  0.784477  0.684916  0.784477
18  0.711926  0.548324  0.784537  0.461523  0.626578  0.784537
11  0.930781  0.494301  0.677082  0.459571  0.640434  0.930781
5   0.892046  0.478634  0.594136  0.098679  0.515874  0.892046
8   0.939535  0.429229  0.878094  0.368635  0.653873  0.939535
16  0.814314  0.341811  0.604388  0.940754  0.675317  0.940754
23  0.596057  0.318248  0.453491  0.414427  0.445556  0.596057
1   0.773709  0.123521  0.302031  0.031535  0.307699  0.773709
14  0.511547  0.111924  0.003854  0.308216  0.233885  0.511547
6   0.932203  0.051710  0.281600  0.427496  0.423252  0.932203
7   0.747929  0.043822  0.812299  0.146934  0.437746  0.812299

## 平均値(mean列)の数値の上位5件だけを抽出

In [53]:
df

           a         b         c         d      mean       max
0   0.481770  0.464399  0.659742  0.471086  0.519249  0.659742
1   0.773709  0.123521  0.302031  0.031535  0.307699  0.773709
2   0.137299  0.700930  0.118053  0.372651  0.332233  0.700930
3   0.989664  0.793749  0.523969  0.931203  0.809646  0.989664
4   0.101988  0.788815  0.168662  0.743402  0.450717  0.788815
5   0.892046  0.478634  0.594136  0.098679  0.515874  0.892046
6   0.932203  0.051710  0.281600  0.427496  0.423252  0.932203
7   0.747929  0.043822  0.812299  0.146934  0.437746  0.812299
8   0.939535  0.429229  0.878094  0.368635  0.653873  0.939535
9   0.678734  0.824927  0.787973  0.308102  0.649934  0.824927
10  0.630759  0.766256  0.558172  0.784477  0.684916  0.784477
11  0.930781  0.494301  0.677082  0.459571  0.640434  0.930781
12  0.270177  0.358015  0.903847  0.499793  0.507958  0.903847
13  0.910630  0.891133  0.968610  0.807042  0.894354  0.968610
14  0.511547  0.111924  0.003854  0.308216  0.233885  0.511547
15  0.029876  0.082322  0.089550  0.255234  0.114246  0.255234
16  0.814314  0.341811  0.604388  0.940754  0.675317  0.940754
17  0.044677  0.298287  0.051694  0.894657  0.322329  0.894657
18  0.711926  0.548324  0.784537  0.461523  0.626578  0.784537
19  0.785441  0.787694  0.297859  0.369659  0.560163  0.787694
20  0.158389  0.105760  0.952108  0.322215  0.384618  0.952108
21  0.930020  0.852966  0.105425  0.398942  0.571838  0.930020
22  0.659880  0.850319  0.272239  0.279986  0.515606  0.850319
23  0.596057  0.318248  0.453491  0.414427  0.445556  0.596057
24  0.235251  0.146208  0.587935  0.985939  0.488833  0.985939

In [54]:
df_mean5 = df.sort_values(by="mean", ascending=False).head(5)

In [55]:
df_mean5

           a         b         c         d      mean       max
13  0.910630  0.891133  0.968610  0.807042  0.894354  0.968610
3   0.989664  0.793749  0.523969  0.931203  0.809646  0.989664
10  0.630759  0.766256  0.558172  0.784477  0.684916  0.784477
16  0.814314  0.341811  0.604388  0.940754  0.675317  0.940754
8   0.939535  0.429229  0.878094  0.368635  0.653873  0.939535

# 欠損値の扱い
## 2つのデータフレームをつなげた、df_new を使う

In [56]:
df_new

           a         b         c         d       max      mean
0   0.481770  0.464399  0.659742  0.471086  0.659742  0.519249
1   0.773709  0.123521  0.302031  0.031535  0.773709  0.307699
2   0.137299  0.700930  0.118053  0.372651  0.700930  0.332233
3   0.989664  0.793749  0.523969  0.931203  0.989664  0.809646
4   0.101988  0.788815  0.168662  0.743402  0.788815  0.450717
5   0.892046  0.478634  0.594136  0.098679  0.892046  0.515874
6   0.932203  0.051710  0.281600  0.427496  0.932203  0.423252
7   0.747929  0.043822  0.812299  0.146934  0.812299  0.437746
8   0.939535  0.429229  0.878094  0.368635  0.939535  0.653873
9   0.678734  0.824927  0.787973  0.308102  0.824927  0.649934
10  0.630759  0.766256  0.558172  0.784477  0.784477  0.684916
11  0.930781  0.494301  0.677082  0.459571  0.930781  0.640434
12  0.270177  0.358015  0.903847  0.499793  0.903847  0.507958
13  0.910630  0.891133  0.968610  0.807042  0.968610  0.894354
14  0.511547  0.111924  0.003854  0.308216  0.511547  0.233885
15  0.029876  0.082322  0.089550  0.255234  0.255234  0.114246
16  0.814314  0.341811  0.604388  0.940754  0.940754  0.675317
17  0.044677  0.298287  0.051694  0.894657  0.894657  0.322329
18  0.711926  0.548324  0.784537  0.461523  0.784537  0.626578
19  0.785441  0.787694  0.297859  0.369659  0.787694  0.560163
20  0.158389  0.105760  0.952108  0.322215  0.952108  0.384618
21  0.930020  0.852966  0.105425  0.398942  0.930020  0.571838
22  0.659880  0.850319  0.272239  0.279986  0.850319  0.515606
23  0.596057  0.318248  0.453491  0.414427  0.596057  0.445556
24  0.235251  0.146208  0.587935  0.985939  0.985939  0.488833
25  0.544368  0.420013  0.205671  0.412394       NaN       NaN
26  0.866053  0.773115  0.482285  0.834728       NaN       NaN
27  0.045713  0.687208  0.584206  0.978306       NaN       NaN
28  0.081609  0.002971  0.405488  0.040150       NaN       NaN
29  0.002447  0.289082  0.269507  0.920703       NaN       NaN

In [57]:
df = df_new

In [58]:
df

           a         b         c         d       max      mean
0   0.481770  0.464399  0.659742  0.471086  0.659742  0.519249
1   0.773709  0.123521  0.302031  0.031535  0.773709  0.307699
2   0.137299  0.700930  0.118053  0.372651  0.700930  0.332233
3   0.989664  0.793749  0.523969  0.931203  0.989664  0.809646
4   0.101988  0.788815  0.168662  0.743402  0.788815  0.450717
5   0.892046  0.478634  0.594136  0.098679  0.892046  0.515874
6   0.932203  0.051710  0.281600  0.427496  0.932203  0.423252
7   0.747929  0.043822  0.812299  0.146934  0.812299  0.437746
8   0.939535  0.429229  0.878094  0.368635  0.939535  0.653873
9   0.678734  0.824927  0.787973  0.308102  0.824927  0.649934
10  0.630759  0.766256  0.558172  0.784477  0.784477  0.684916
11  0.930781  0.494301  0.677082  0.459571  0.930781  0.640434
12  0.270177  0.358015  0.903847  0.499793  0.903847  0.507958
13  0.910630  0.891133  0.968610  0.807042  0.968610  0.894354
14  0.511547  0.111924  0.003854  0.308216  0.511547  0.233885
15  0.029876  0.082322  0.089550  0.255234  0.255234  0.114246
16  0.814314  0.341811  0.604388  0.940754  0.940754  0.675317
17  0.044677  0.298287  0.051694  0.894657  0.894657  0.322329
18  0.711926  0.548324  0.784537  0.461523  0.784537  0.626578
19  0.785441  0.787694  0.297859  0.369659  0.787694  0.560163
20  0.158389  0.105760  0.952108  0.322215  0.952108  0.384618
21  0.930020  0.852966  0.105425  0.398942  0.930020  0.571838
22  0.659880  0.850319  0.272239  0.279986  0.850319  0.515606
23  0.596057  0.318248  0.453491  0.414427  0.596057  0.445556
24  0.235251  0.146208  0.587935  0.985939  0.985939  0.488833
25  0.544368  0.420013  0.205671  0.412394       NaN       NaN
26  0.866053  0.773115  0.482285  0.834728       NaN       NaN
27  0.045713  0.687208  0.584206  0.978306       NaN       NaN
28  0.081609  0.002971  0.405488  0.040150       NaN       NaN
29  0.002447  0.289082  0.269507  0.920703       NaN       NaN

In [59]:
df.shape

(30, 6)

In [60]:
df.tail(6)

           a         b         c         d       max      mean
24  0.235251  0.146208  0.587935  0.985939  0.985939  0.488833
25  0.544368  0.420013  0.205671  0.412394       NaN       NaN
26  0.866053  0.773115  0.482285  0.834728       NaN       NaN
27  0.045713  0.687208  0.584206  0.978306       NaN       NaN
28  0.081609  0.002971  0.405488  0.040150       NaN       NaN
29  0.002447  0.289082  0.269507  0.920703       NaN       NaN

## 欠損値を、0で埋める

In [61]:
df.fillna(0)

           a         b         c         d       max      mean
0   0.481770  0.464399  0.659742  0.471086  0.659742  0.519249
1   0.773709  0.123521  0.302031  0.031535  0.773709  0.307699
2   0.137299  0.700930  0.118053  0.372651  0.700930  0.332233
3   0.989664  0.793749  0.523969  0.931203  0.989664  0.809646
4   0.101988  0.788815  0.168662  0.743402  0.788815  0.450717
5   0.892046  0.478634  0.594136  0.098679  0.892046  0.515874
6   0.932203  0.051710  0.281600  0.427496  0.932203  0.423252
7   0.747929  0.043822  0.812299  0.146934  0.812299  0.437746
8   0.939535  0.429229  0.878094  0.368635  0.939535  0.653873
9   0.678734  0.824927  0.787973  0.308102  0.824927  0.649934
10  0.630759  0.766256  0.558172  0.784477  0.784477  0.684916
11  0.930781  0.494301  0.677082  0.459571  0.930781  0.640434
12  0.270177  0.358015  0.903847  0.499793  0.903847  0.507958
13  0.910630  0.891133  0.968610  0.807042  0.968610  0.894354
14  0.511547  0.111924  0.003854  0.308216  0.511547  0.233885
15  0.029876  0.082322  0.089550  0.255234  0.255234  0.114246
16  0.814314  0.341811  0.604388  0.940754  0.940754  0.675317
17  0.044677  0.298287  0.051694  0.894657  0.894657  0.322329
18  0.711926  0.548324  0.784537  0.461523  0.784537  0.626578
19  0.785441  0.787694  0.297859  0.369659  0.787694  0.560163
20  0.158389  0.105760  0.952108  0.322215  0.952108  0.384618
21  0.930020  0.852966  0.105425  0.398942  0.930020  0.571838
22  0.659880  0.850319  0.272239  0.279986  0.850319  0.515606
23  0.596057  0.318248  0.453491  0.414427  0.596057  0.445556
24  0.235251  0.146208  0.587935  0.985939  0.985939  0.488833
25  0.544368  0.420013  0.205671  0.412394  0.000000  0.000000
26  0.866053  0.773115  0.482285  0.834728  0.000000  0.000000
27  0.045713  0.687208  0.584206  0.978306  0.000000  0.000000
28  0.081609  0.002971  0.405488  0.040150  0.000000  0.000000
29  0.002447  0.289082  0.269507  0.920703  0.000000  0.000000

## 欠損値がある行を削除する

In [62]:
df.dropna()

           a         b         c         d       max      mean
0   0.481770  0.464399  0.659742  0.471086  0.659742  0.519249
1   0.773709  0.123521  0.302031  0.031535  0.773709  0.307699
2   0.137299  0.700930  0.118053  0.372651  0.700930  0.332233
3   0.989664  0.793749  0.523969  0.931203  0.989664  0.809646
4   0.101988  0.788815  0.168662  0.743402  0.788815  0.450717
5   0.892046  0.478634  0.594136  0.098679  0.892046  0.515874
6   0.932203  0.051710  0.281600  0.427496  0.932203  0.423252
7   0.747929  0.043822  0.812299  0.146934  0.812299  0.437746
8   0.939535  0.429229  0.878094  0.368635  0.939535  0.653873
9   0.678734  0.824927  0.787973  0.308102  0.824927  0.649934
10  0.630759  0.766256  0.558172  0.784477  0.784477  0.684916
11  0.930781  0.494301  0.677082  0.459571  0.930781  0.640434
12  0.270177  0.358015  0.903847  0.499793  0.903847  0.507958
13  0.910630  0.891133  0.968610  0.807042  0.968610  0.894354
14  0.511547  0.111924  0.003854  0.308216  0.511547  0.233885
15  0.029876  0.082322  0.089550  0.255234  0.255234  0.114246
16  0.814314  0.341811  0.604388  0.940754  0.940754  0.675317
17  0.044677  0.298287  0.051694  0.894657  0.894657  0.322329
18  0.711926  0.548324  0.784537  0.461523  0.784537  0.626578
19  0.785441  0.787694  0.297859  0.369659  0.787694  0.560163
20  0.158389  0.105760  0.952108  0.322215  0.952108  0.384618
21  0.930020  0.852966  0.105425  0.398942  0.930020  0.571838
22  0.659880  0.850319  0.272239  0.279986  0.850319  0.515606
23  0.596057  0.318248  0.453491  0.414427  0.596057  0.445556
24  0.235251  0.146208  0.587935  0.985939  0.985939  0.488833

## 欠損値を、カラム平均で埋める

In [63]:
df.isnull()

        a      b      c      d    max   mean
0   False  False  False  False  False  False
1   False  False  False  False  False  False
2   False  False  False  False  False  False
3   False  False  False  False  False  False
4   False  False  False  False  False  False
5   False  False  False  False  False  False
6   False  False  False  False  False  False
7   False  False  False  False  False  False
8   False  False  False  False  False  False
9   False  False  False  False  False  False
10  False  False  False  False  False  False
11  False  False  False  False  False  False
12  False  False  False  False  False  False
13  False  False  False  False  False  False
14  False  False  False  False  False  False
15  False  False  False  False  False  False
16  False  False  False  False  False  False
17  False  False  False  False  False  False
18  False  False  False  False  False  False
19  False  False  False  False  False  False
20  False  False  False  False  False  False
21  False  False  False  False  False  False
22  False  False  False  False  False  False
23  False  False  False  False  False  False
24  False  False  False  False  False  False
25  False  False  False  False   True   True
26  False  False  False  False   True   True
27  False  False  False  False   True   True
28  False  False  False  False   True   True
29  False  False  False  False   True   True

In [64]:
df.notnull()

       a     b     c     d    max   mean
0   True  True  True  True   True   True
1   True  True  True  True   True   True
2   True  True  True  True   True   True
3   True  True  True  True   True   True
4   True  True  True  True   True   True
5   True  True  True  True   True   True
6   True  True  True  True   True   True
7   True  True  True  True   True   True
8   True  True  True  True   True   True
9   True  True  True  True   True   True
10  True  True  True  True   True   True
11  True  True  True  True   True   True
12  True  True  True  True   True   True
13  True  True  True  True   True   True
14  True  True  True  True   True   True
15  True  True  True  True   True   True
16  True  True  True  True   True   True
17  True  True  True  True   True   True
18  True  True  True  True   True   True
19  True  True  True  True   True   True
20  True  True  True  True   True   True
21  True  True  True  True   True   True
22  True  True  True  True   True   True
23  True  True  True  True   True   True
24  True  True  True  True   True   True
25  True  True  True  True  False  False
26  True  True  True  True  False  False
27  True  True  True  True  False  False
28  True  True  True  True  False  False
29  True  True  True  True  False  False

In [65]:
df[df['mean'].notnull()]['mean'].mean()

0.51067413565956565

In [66]:
df_fill_mean = df.fillna({'mean': df[df['mean'].notnull()]['mean'].mean()})

In [67]:
df_fill_mean

           a         b         c         d       max      mean
0   0.481770  0.464399  0.659742  0.471086  0.659742  0.519249
1   0.773709  0.123521  0.302031  0.031535  0.773709  0.307699
2   0.137299  0.700930  0.118053  0.372651  0.700930  0.332233
3   0.989664  0.793749  0.523969  0.931203  0.989664  0.809646
4   0.101988  0.788815  0.168662  0.743402  0.788815  0.450717
5   0.892046  0.478634  0.594136  0.098679  0.892046  0.515874
6   0.932203  0.051710  0.281600  0.427496  0.932203  0.423252
7   0.747929  0.043822  0.812299  0.146934  0.812299  0.437746
8   0.939535  0.429229  0.878094  0.368635  0.939535  0.653873
9   0.678734  0.824927  0.787973  0.308102  0.824927  0.649934
10  0.630759  0.766256  0.558172  0.784477  0.784477  0.684916
11  0.930781  0.494301  0.677082  0.459571  0.930781  0.640434
12  0.270177  0.358015  0.903847  0.499793  0.903847  0.507958
13  0.910630  0.891133  0.968610  0.807042  0.968610  0.894354
14  0.511547  0.111924  0.003854  0.308216  0.511547  0.233885
15  0.029876  0.082322  0.089550  0.255234  0.255234  0.114246
16  0.814314  0.341811  0.604388  0.940754  0.940754  0.675317
17  0.044677  0.298287  0.051694  0.894657  0.894657  0.322329
18  0.711926  0.548324  0.784537  0.461523  0.784537  0.626578
19  0.785441  0.787694  0.297859  0.369659  0.787694  0.560163
20  0.158389  0.105760  0.952108  0.322215  0.952108  0.384618
21  0.930020  0.852966  0.105425  0.398942  0.930020  0.571838
22  0.659880  0.850319  0.272239  0.279986  0.850319  0.515606
23  0.596057  0.318248  0.453491  0.414427  0.596057  0.445556
24  0.235251  0.146208  0.587935  0.985939  0.985939  0.488833
25  0.544368  0.420013  0.205671  0.412394       NaN  0.510674
26  0.866053  0.773115  0.482285  0.834728       NaN  0.510674
27  0.045713  0.687208  0.584206  0.978306       NaN  0.510674
28  0.081609  0.002971  0.405488  0.040150       NaN  0.510674
29  0.002447  0.289082  0.269507  0.920703       NaN  0.510674

# コピー
## 深いコピーと浅いコピー

In [68]:
df = pd.DataFrame({"a" : [1, 2], "b" : [3, 4]})

In [69]:
df

   a  b
0  1  3
1  2  4

In [70]:
df2 = df

In [71]:
df2

   a  b
0  1  3
1  2  4

In [72]:
df.loc[0, "a"]

1

In [73]:
df.loc[0, "a"] = 5

In [74]:
df

   a  b
0  5  3
1  2  4

In [75]:
df2

   a  b
0  5  3
1  2  4

In [76]:
df3 = df.copy()

In [77]:
df3

   a  b
0  5  3
1  2  4

In [78]:
df.loc[0, "b"] = 6

In [79]:
df

   a  b
0  5  6
1  2  4

In [80]:
df3

   a  b
0  5  3
1  2  4

In [81]:
df2

   a  b
0  5  6
1  2  4

In [82]:
df4 = df.copy(deep=False)

In [83]:
df4

   a  b
0  5  6
1  2  4

In [84]:
df.loc[1, "a"] = 7

In [85]:
df

   a  b
0  5  6
1  7  4

In [86]:
df4

   a  b
0  5  6
1  7  4

In [87]:
df3

   a  b
0  5  3
1  2  4